<h1><%= @task.title %></h1>
<h3><%= @task.details %></h3>

<p>This task is <%= @task.completed ? "completed" : "not completed yet" %></p>

<%= link_to "Back to list", tasks_path %> ||
<%= link_to "Update task", task_edit_path %> ||
<%= link_to "Delete", task_destroy_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
